<header class="bg-red-500 text-white text-center py-12">
    <h1 class="text-4xl font-bold mt-4">About Us</h1>
  </header>

  <section class="text-center py-12 px-4">
    <h2 class="text-2xl font-bold">Mission And Values</h2>
    <p class="mt-4 text-gray-700 max-w-2xl mx-auto">
     provide best service to our kustomers 
    </p>
    <div class="flex justify-center space-x-8 mt-8 animate-fadeIn">
      <div class="transition transform hover:scale-110">
        <h3 class="text-xl font-bold" >10+</h3>
        <p class="text-gray-700">Specialists</p>
      </div>
      <div class="transition transform hover:scale-110">
        <h3 class="text-xl font-bold" >5+</h3>
        <p class="text-gray-700">Years of Experience</p>
      </div>
    </div>
  </section>

  <section class="bg-red-500 text-white py-12 px-4">
    <h2 class="text-2xl font-bold text-center">Our Vision</h2>
    <p class="mt-4 text-center max-w-2xl mx-auto">
      We are an interior designing company based in Bangalore. Not only will we ensure that your space looks great from the inside, but we will also make sure that it reflects your personality and fulfils all your requirements. We strive forward to connect our services for growth, change, commitment towards creativity, innovation towards our community.
    </p>
  </section>