---
// src/components/FAQSection.astro
import Card from '../components/cards/FAQ_card.astro';
---

<section id="faq" class="min-h-svh w-full  mx-auto bg-slate-00  bg-red-100">
  <div class="max-w-6xl mx-auto  flex flex-col gap-1  bg-slate-00 h-full w-full p-4 place-content-center bg-red-100">
    <div class="bg-red-100 col-span-8 row-span-2 col-start-1 row-start-2  w-full ">
      <div class=" head-text mt-7 ">
        <h1 class="text-center font-extrabold leading-snug ">What Our Customers Ask </h1>
        <h2 class="text-center head2-text">There are many variations of the passages  
        </h2>
      </div>
    
    </div>
    
  
    <Card title="IDLI" content="idli is always made from steaming the fermented rice batter"  />
    <Card title="IDLI" content="idli is always made from steaming the fermented rice batter"  />
    <Card title="IDLI" content="idli is always made from steaming the fermented rice batter"  />
    <Card title="IDLI" content="idli is always made from steaming the fermented rice batter"  />
    <Card title="IDLI" content="idli is always made from steaming the fermented rice batter"  />
    <Card title="IDLI" content="idli is always made from steaming the fermented rice batter"  />
    <Card title="IDLI" content="idli is always made from steaming the fermented rice batter"  />
    <Card title="IDLI" content="idli is always made from steaming the fermented rice batter"  />


  </div>
  </section>
 