---
// src/components/HeroSection.astro
import NavBar from '../components/navbar.astro';
import FormSection from '../components/common/simpleform.astro';
import Defaultimg from '../assets/work/01.png';
import Modal from '../components/modal/modal1.astro';
import Modal1 from '../components/modal/modal1.astro';

---

<!-- <section class="w-full h-svh ">
  
  

  <div class="grid grid-cols-12 grid-rows-12 gap-0  h-full w-full">
   
    <div class="col-span-12 row-span-1 col-start-1 row-start-1 sticky top-0  flex items-center  z-20 bg-gray-200 rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-60 border border-gray-100 drop-shadow-lg">
      <NavBar />
    </div>

    <div class="row-start-2 col-start-1 row-span-11 col-span-9 bg-gray-500 overflow-clip rounded-r-[6rem] border border-gray-100">
      <img src="https://picsum.photos/id/3/3000" alt="" class="object-cover w-full h-full ">
    </div>

    <div class=" col-start-10 row-span-11 col-span-3 row-start-2 rounded-l-[6rem] z-10  bg-gray-300 rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-70 border border-gray-300 drop-shadow-lg">

    </div>

  </div>
</section> -->
<!-- 
  
<section class="w-full h-svh ">
  
  <div class="grid grid-cols-12 grid-rows-12 h-hero w-full mt-1">

    <div class="bg-zinc-800 row-span-12 col-span-9 rounded-r-[6rem] h-full row-start-1 col-start-1 overflow-clip">

        <img src="https://picsum.photos/id/3/3000" alt="" class="object-cover w-full h-full ">
   

    </div>

    <div class=" col-start-10 row-span-12 col-span-3 row-start-1 rounded-l-[6rem] overflow-clip bg-red-200 ">
    
      <div class=" flex w-full h-full z-10  rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-70 border border-gray-30 drop-shadow-lg items-center justify-center">
      <FormSection />
    </div>
      

   </div>



  </div>
</section> -->

<section class="bg-zinc-00 h-hero w-full">
  <div class="hidden md:grid md:grid-cols-12 md:grid-rows-12 md:h-full md:w-full bg-slate-00">
    
    <div id="hero_img" class="row-span-12 col-span-9 row-start-1 col-start-1 rounded-r-[6rem] overflow-clip " >
      <img src={Defaultimg.src} alt="Hero Image" class="w-full h-full object-cover" id='myImg'  >

    </div>

    <div class="row-start-1 col-start-10 col-span-3 row-span-12 rounded-l-[6rem]  bg-red-200" id="form_section">
      <div class=" flex w-full h-full z-10 rounded-l-[6rem]  bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-70 border border-gray-300 drop-shadow-lg items-center justify-center">
        <FormSection />
      </div>
      
    </div>
    
    <div class="col-span-6 row-span-2 col-start-1 row-start-11 bg-slate-00" id="buttons overflow-clip ">
      <div class="flex flex-row justify-stretch gap-6 p-1">

        <button id="button1" class="bg-red-300  bg-opacity-100 border-2 border-red-400 rounded-lg text-md text-black font-extrabold py-2 px-4 hover:bg-red-400  ">Concept</button>
        <button id="button2" class="bg-red-300  bg-opacity-100 border-2 border-red-400 rounded-lg text-md text-black font-extrabold py-2 px-4 hover:bg-red-400  ">Drawing</button>
        <button id="button3" class="bg-red-300  bg-opacity-100 border-2 border-red-400 rounded-lg text-md text-black font-extrabold py-2 px-4 hover:bg-red-400  ">Actual</button>
      </div>
    </div>

     <div class="col-span-8 row-span-5 col-start-1 row-start-1 bg-slate-00 p-4 z-10" id="typo_graph">
       
  
                    <div class="text-left prose max-sm:prose-sm md:prose-lg lg:prose-xl">
                      <h1 class="font-extrabold  text-gray-900 whitespace-pre uppercase">Let Your Home Be 
Unique</h1>
                      <h4 class="mt-2  text-gray-600 whitespace-pre font-bold ">WORK WITH BEST INTERIOR 
DESIGNERS IN BANGALORE</h4>
                    </div>
      </div>


  </div>

  <!-- mobile view -->
   <!-- mobile view -->
   <div class="hidden max-md:grid max-md:grid-cols-12 max-md:grid-rows-12 max-md:h-full max-md:w-full bg-slate-100">

    <div id="hero_img" class="row-span-12 col-span-12 row-start-1 col-start-1  overflow-clip  rounded-b-badge" >
      <img src={Defaultimg.src} alt="Hero Image" class="w-full h-full object-cover" id='myImgmobo'  >

    </div>
  
     <div class="col-span-12 row-span-1 col-start-1 row-start-12 bg-slate-00" id="   ">
      <div id="openModalBtnMobile" class=" px-4 py-2 bg-red-500 text-white mb-2 w-full h-full text-center rounded-full "><Modal/>
   
      </div>
      
     </div>
  

    <div class="col-span-12 row-span-5 col-start-1 row-start-1 bg-slate-00 p-4" id="typo_graph">
       
  
                    <div class="text-left max-sm:prose-sm prose md:prose-lg lg:prose-xl">
                      <h1 class="font-extrabold  text-gray-900 whitespace-pre-wrap uppercase">Let Your Home Be 
Unique</h1>
                      <h4 class="  text-gray-600 whitespace-pre-wrap font-bold ">WORK WITH BEST INTERIOR 
DESIGNERS IN BANGALORE</h4>
                    </div>
         
                    
      </div>
    

    
  
  


    <div class="col-span-1 row-span-1 col-start-1  row-start-6 " id="buttons  ">
      <div class="flex justify-start gap-4 rotate-90">
      

         <button id="button4" class="bg-red-200  bg-opacity-60 border-2 border-red-400 rounded-t-lg text-md text-black font-extrabold py-2 px-2  hover:bg-red-300 hover:-translate-y-2 ">Concept</button>
      
         <button  id="button5" class="bg-red-200  bg-opacity-60 border-2 border-red-400 rounded-t-lg text-md text-black font-extrabold py-2 px-2 hover:bg-red-300  hover:-translate-y-2">Drawing</button>
      
         <button id="button6" class="bg-red-200  bg-opacity-60 border-2 border-red-400 rounded-t-lg text-md text-black font-extrabold py-2 px-2 hover:bg-red-300  hover:-translate-y-2">Render</button>
     
  
      </div>
    </div>

  </div>
  

</section>

<!-- <script type="application/x-javascript">document.addEventListener('touchmove', function(e){e.preventDefault();}, false);</script> -->

<script>
  //@ts-nocheck
 import Conceptimg from '../assets/work/06.png';
 import Drawingimg from '../assets/work/05.png';
 import Renderimg from '../assets/work/03.png';
import Modal1 from './modal/modal1.astro';

 // This script runs after the component is rendered
 const myImg = document.querySelector('#myImg');
 const myImgmob = document.querySelector('#myImgmobo');
 const mobomo = document.querySelector('#mobilemodal');
 const button1 = document.querySelector('#button1');
 const button2 = document.querySelector('#button2');
 const button3 = document.querySelector('#button3');
 const button4 = document.querySelector('#button4');
 const button5 = document.querySelector('#button5');
 const button6 = document.querySelector('#button6');

 button1.addEventListener('mouseover', () => {
   myImg.src = Conceptimg.src ;
 });
 button2.addEventListener('mouseover', () => {
   myImg.src = Drawingimg.src ;
 });
 button3.addEventListener('mouseover', () => {
   myImg.src = Renderimg.src ;
 });

 
 button4.addEventListener("touchstart", () => {
  console.log("idli1");
   myImgmob.src = Conceptimg.src ;
 });
 button5.addEventListener('touchstart', () => {
  console.log("idli1");
   
   myImgmob.src = Drawingimg.src ;
 });
 button6.addEventListener('touchstart', () => {
  console.log("idli1");
   
  myImgmob.src = Renderimg.src ;
 });







</script>