<!-- <p class="inside-body-text ...">The quick brown fox .</p>
<p class="text-base  ">The quick brown fox .</p>
<p class="text-lg ...">The quick brown fox .</p>
<p class="text-xl ...">The quick brown fox .</p>
<p class="text-2xl ...">The quick brown fox .</p>
<p class="text-3xl ...">The quick brown fox .</p>
<p class="text-4xl ...">The quick brown fox .</p>
<p class="text-5xl ...">The quick brown fox .</p>
<p class="inside-body-text ...">The quick brown fox .</p>

<div class=" head-text ">
  <h1 class="text-left font-bold leading-relaxed">What Services we Offer </h1>
  <h2 class="text-left leading-relaxed">There are many variations of the passages  
  </h2>
</div>

<div class=" head-text ">
  <h1 class="text-center font-bold leading-relaxed">What Services we Offer </h1>
  <h2 class="text-center leading-relaxed">There are many variations of the passages  
  </h2>
</div> -->