/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.inside-body-text {
    @apply sm:text-xs lg:text-sm xl:text-base leading-tight;
  }
.head-text {
    @apply max-sm:text-2xl sm:text-3xl lg:text-4xl
  }
.head2-text {
    @apply max-sm:text-xl sm:text-2xl lg:text-3xl
  }

  .marquee-container:hover .marquee-content {
    animation-play-state: paused;
  }
  /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(rgb(240, 127, 127)) var(rgb(240, 127, 127));

}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(rgb(240, 127, 127));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(rgb(240, 127, 127));
  border-radius: 14px;
  border: 3px solid var(--rgb(240, 127, 127));
}
