---
// src/pages/index.astro
import '../styles/tailwind.css';
import HeroSection from '../components/hero.astro';

import NavBar from '../components/navbar.astro';
import FeaturesSection from '../components/features.astro';
import TimelineSection from '../components/timeline.astro';

import ServicesSection from '../components/services.astro';
import TestimonialsSection from '../components/testimonial.astro';
import PricingSection from '../components/pricing.astro';
import FAQSection from '../components/faq.astro';
import FooterSection from '../components/footer.astro';

import Modal from '../components/modal/modal1.astro';
import HomeImages from '../components/home_images.astro';
import Scoll from '../components/scoll.astro';

---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="home interior webpage">
    <title>Landing Page</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
   
      <NavBar />
    
      <HeroSection />

  
   

    <FeaturesSection />
   
  
    <TimelineSection />
   
    <ServicesSection />
    <TestimonialsSection />
    
    <!-- <PricingSection /> -->
    <FAQSection />
    <HomeImages/>
    <!-- <Scoll/> -->
    <FooterSection />
 
  </body>
</html>
