---
import PricingSection from '../components/pricing.astro'; // Adjust the path if necessary
import NavBar from '../components/navbar.astro';

import FooterSection from '../components/footer.astro';

---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pricing page">
    <title>Pricing</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <NavBar />
    <PricingSection />
    <FooterSection />
  </body>
</html>
